@media (min-width:0px) {
  .apparel-text {
    text-align: left;
    left: 24px;
    bottom: 48px;
  }
  
}

@media (min-width: 640px) {

  section.trending .figures-wrap {
    display: flex;
  }

  section.trending .figures-wrap .image-wrap:not(:nth-child(1)) {
    margin-top: 17px;
  }

  section.trending .image-wrap {
     width: 50%;
   }

  section.trending .down-text {
    bottom: 34px;
  }

  /* SWIPER */
  .swiper .swiper-items-wrap {
    max-width: 1808px;
    width: auto;
  }

  /* SECTION APPAREL */

  .apparel-text {
    top: 48px;
    left: 7%
}

}

